body {
    margin:0;
    padding:0;
    background-image:url('background1.jpg');
    background-size:cover;
    font-family:sans-serif;
}
.loginbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:350px;
    height:420px;
    padding:80px 40px;
    box-sizing:border-box;
    background: rgba(0,0,0,0.5);
}
.user{
    width:100px;
    height:100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
}
h2{
    padding:0;
    margin:0;
    text-align:center;
    color: rgb(255,217,9);

}
.lbluser, .lblpass{
    font-weight:bold;
    color: #fff;
}

.txtuser, .txtpass, .btnsubmit{
    width:100%;
    margin-bottom:20px;
}
.txtuser, .txtpass{
    border:none;
    border-bottom:3px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color: transparent;
}

::placeholder{
    color: rgba(255,255,255,.5);
}
.btnsubmit{
    border:none;
    outline:none;
    height:40px;
    font-size:16px;
    color:#fff;
    background-color:rgb(255,9,9);
    cursor:pointer;
    border-radius:20px;
    transition:.3s ease-in-out;
}

.btnsubmit:hover{
    background-color:rgb(255,217,9);
}
.btnsignup{
    font-size:16px;
    font-weight:700;
    overflow: hidden;
    bottom: 70px;
    left: 210px;
    position: absolute;
    text-decoration:none;
    text-decoration:underline;
    color:rgb(255,217,9);
}

.lblThongBao{
    font-size:16px;
    overflow: hidden;
    bottom: 35px;
    left: 120px;
    position: absolute;
    font-weight:bold;
    color: #E57575;
}
.rfv_user{
    font-size:16px;
    overflow: hidden;
    top: 110px;
    left: 120px;
    position: absolute;
    font-weight:bold;
    color: #E57575;
}
.rfv_pass{
    font-size:16px;
    overflow: hidden;
    bottom: 210px;
    left: 120px;
    position: absolute;
    font-weight:bold;
    color: #E57575;
}
.lblnoaccount{
    font-size:16px;
    font-weight:700;
    overflow: hidden;
    bottom: 70px;
    left: 80px;
    position: absolute;
    color:#fff;

}
